<html>
    <head>
        <style>
            body{
                background-color: lightblue;
                font-size: 30px;
            }
            button{
                width: 90px;
                height: 40px;
            }
        </style>
        <title>Welcome!</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Decode the Riddle!</h1>
        <p>Would you like to solve a riddle or encode text?</p>
        <button>
        <a href="https://5000-12dc5b98-3b6e-4bb2-8a5b-115b5f699925.us-east1.cloudshell.dev/riddle">riddle</a>
        </button>
        <button>
        <a href="https://5000-12dc5b98-3b6e-4bb2-8a5b-115b5f699925.us-east1.cloudshell.dev/code">code</a>
        </button>
    </body>
</html>
