<html>
    <head>
        <style>
            body{
                background-color: lightblue;
                font-size: 30px;
            }
            button{
                width: 90px;
                height: 40px;
            }
        </style>
        <title>Welcome!</title>
         <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Riddle</h1>
        <p>{{codes["riddle"][0]}}</p>
        <form method="post" action="/solve_riddle">
            <input type="text" name="riddle_input" placeholder="What is your riddle?"/>
            <input type="submit" value="Submit"/>
        </form>

        
    </body>
</html>
